div.AdministratorContent {
  text-align: center;
  padding-top: 75px;
}

div.LeftAdministratorContent {
  padding-top: 30px;
  padding-left: 10px;
  float: left;
  width: 50%;
  text-align: center;
}

div.RightAdministratorContent {
  padding-top: 5px;
  float: right;
  width: 50%;
}

div.GenerateReport {
  margin: 5%;
}

div.DeleteChoices {
  margin: 5%;
}

div.DeleteChoicesButton {
  padding: 3%;
}

ul {
  list-style-type: none;
}

li {
  padding: 4px;
  border: 1px;
  border-style: solid;
}

hr {
  width: 75%;
}
