div.AdministratorContent {
  text-align: center;
  padding-top: 75px;
}

div.LeftAdministratorContent {
  padding-top: 5px;
  padding-left: 10px;
  float: left;
  width: 50%;
  text-align: center;
}

div.RightAdministratorContent {
  padding-top: 5px;
  float: right;
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
}

div.GenerateReport {
  margin: 5%;
}

div.DeleteChoices {
  padding-top: 2%;
  margin: 5%;
}

div.DeleteChoicesButton {
  padding: 3%;
}
