div.AlternativeHeading {
    float:left;
    clear: both;
}

div.AlternativeDescription {
    clear: both;
    float: left;
}

div.ApprovalContent {
    clear:both;
}

div.ApprovalPane {
    float: left;
    clear: both;
    display: block;
}

div.DisapprovalPane {
    float: right;
    clear: both;
    display: block;
}

.approvers {
    float: right;
    padding-right: 10px;
}

.disapprovers {
    float: left;
    padding-left: 10px;
}