div.CompleteChoice {
    padding-left: 1%;
    /*padding-right: 1%;*/
    padding-top: 4%;
    display: block;
    width: 100%;
}

.AlternativeOption {
    padding-top: 10px;
    padding-bottom: 10px;
}



.SubmitButton {
    width: 100px;
}

.SubmitButtonItem {
    padding-top: 3%;
}

.Card {
    padding-bottom: 10px;
}