div.CreateChoice {
    display: block;
    vertical-align: middle;
    padding-top: 75px;
}


div.CreateButton {
    padding-top: 1%;
}

.Paper {
    padding:25px;
}

.TextEntry {
    width: 100%;
}

.CreateChoiceGrid {
    padding-left: 1%;
    padding-right: 1%;
}

#URIRevealer {
    visibility: hidden;
}