div.CreateChoice {
    display: block;
    vertical-align: middle;
    padding: 1%;
}


div.CreateButton {
    padding-top: 1%;
}

.Paper {
    padding:25px;
}

.TextEntry {
    width: 100%;
}

.CreateChoiceGrid {
    padding:4%;
}