div.LoginContent {
    padding-top: 75px;
}
div.LeftLoginContent {
    padding-top: 5px;
    float: left;
    width: 50%;
}

div.RightLoginContent {
    padding-top: 5px;
    float: right;
    width: 50%;
}

div.Login {
    display: block;
    alignment: center;
    clear: both;
    padding-top: 5%;
}