div.LoginContent {
    padding-top: 75px;
    margin: 5px;
    padding-left: 20px;

}

div.LoginGrid {
    justify-content: center;
}


.LoginInputs {
    height: 250px;
    margin: 5px;
}

.Paper {
    padding: 50px;
}

.LoginForm {
    float: right;
}

.Input {
    width: 100%;
    padding: 5px;
}

