div.ViewChoice {
    padding-top: 75px;
    padding-left: 1%;
    padding-right: 1%;
}
div.ChoiceDescriptionContent {
    padding-top: 5px;
    float: left;
    width: 70%;
}

#ViewChoiceContent {
    visibility: hidden;
}

#choiceDescription {
    padding-left: 2%;
}